* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.body-div {
  display: grid;
  grid-template-columns: 270px 4fr;
  grid-template-rows: 1fr 100vh;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

/* sidebar */

.sidebar-div {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  background-color: rgb(255, 172, 186);
  color: white;
}

.sidebar-div button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
}

.sidebar-div button:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.sidebar-div i {
  width: 20px;
  margin: 0 20px;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.logo-div img {
  height: 40px;
  margin: 0 5px 0 0;
}

.sidebar-list-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar-list-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0 0 0;
}

/* header */

.header-div {
  display: flex;
  flex-direction: column;
  grid-area: header;
  background-color: white;
}

.header-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
}

.search-div {
  display: flex;
  align-items: center;
  width: 70%;
}

.search-div button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding-right: 40px;
  cursor: pointer;
}

.search-div input {
  height: 22px;
  width: 100%;
  border: none;
  background-color: rgb(212, 212, 212);
  border-radius: 100px;
}

.notification-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.notification-div button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 20px 30px;
}

.header-upper img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

.header-lower img {
  height: 70px;
  width: 70px;
  border-radius: 100px;
}

.profile-div {
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile-text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.button-div {
  display: flex;
  justify-content: space-around;
}

.button-div button {
  color: white;
  background-color: rgb(255, 172, 186);
  border: none;
  border-radius: 100px;
  height: 34px;
  width: 70px;
  margin: 0 10px;
}
/* main */

.content-div {
  grid-area: main;
  background-color: rgb(212, 212, 212);
}

/* 
  <body>
    <div class="body-div">
      <div class="sidebar-div">
        <div class="logo-div">
          <img src="" />
          <h1>Dashboard</h1>
        </div>
        <div class="sidebar-list-1">
          <button class="">Home</button>
          <button class="">Profile</button>
          <button class="">Messages</button>
          <button class="">History</button>
          <button class="">Tasks</button>
          <button class="">Communities</button>
        </div>
        <div class="sidebar-list-2">
          <button class="">Settings</button>
          <button class="">Support</button>
          <button class="">Privacy</button>
        </div>
      </div>
      <div class="header-div">
        <div class="header-upper">
          <div class="search-div">
            <button class=""></button>
            <input type="text" />
          </div>
          <div class="notification-div">
            <button class=""></button>
            <img src="" />
            <h3>Angelica Louise</h3>
          </div>
        </div>
        <div class="header-lower">
          <div class="profile-div">
            <img src="" />
            <h4>Hi there,</h4>
            <h2>Angelica Louise (@angelicalouisee)</h2>
          </div>
          <div class="button-div">
            <button>New</button>
            <button>Upload</button>
            <button>Share</button>
          </div>
        </div>
      </div>
      <div class="content-div">
        <div class="projects-div">
          <div class="project-1"></div>
        </div>
        <div class="announcements-div"></div>
        <div class="trending-div"></div>
      </div>
    </div>
  </body>
</html> 
*/
